<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app>
    <display-name>Pitch Restful Web Application</display-name>

    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>
            magicbox.us.pitch.rest.Register
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pitch</servlet-name>
        <servlet-class>
            magicbox.us.pitch.rest.Pitch
        </servlet-class>
        <init-param>
            <param-name>uploadDir</param-name>
            <param-value>/www/upload</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>pitch</servlet-name>
        <url-pattern>/pitch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>like</servlet-name>
        <servlet-class>
            magicbox.us.pitch.rest.Like
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>like</servlet-name>
        <url-pattern>/like</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>comment</servlet-name>
        <servlet-class>
            magicbox.us.pitch.rest.Comment
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>
            magicbox.us.pitch.rest.List
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>video</servlet-name>
        <servlet-class>
            magicbox.us.pitch.rest.Video
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>video</servlet-name>
        <url-pattern>/video</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>expert</servlet-name>
        <servlet-class>
            magicbox.us.pitch.rest.Expert
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>expert</servlet-name>
        <url-pattern>/expert</url-pattern>
    </servlet-mapping>
</web-app>