<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app>
    <display-name>Pitch Restful Web Application</display-name>

    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>
            magicbox.us.pitch.rest.Register
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pitch</servlet-name>
        <servlet-class>
            magicbox.us.pitch.rest.Pitch
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>pitch</servlet-name>
        <url-pattern>/pitch</url-pattern>
    </servlet-mapping>
</web-app>